#left-sidebar {
    float: left;
    width: 200px;
    border-right: 2px solid black;
}

.drive-name {
    font-size:40px;
}

.drive-place{
    cursor:pointer;
    width:65%;
}

.drive-place:hover{
   background-color:lightgrey;
}