#left-sidebar {
    float: left;
    width: 10%;
    min-height: 880px;
}

ul#navbar-row {
    min-height: 20px;
    padding: 7px;
    margin-bottom: 20px;
}

    ul#navbar-row li {
        display: inline;
        margin-right: 5px;
        padding: 3px;
        font-weight: bold;
    }

.nav-elem img {
    width: 20px;
    margin-bottom: -3px;
}

.nav-elem {
    text-decoration: none;
}

    .nav-elem:hover {
        background-color: #c7d1d6;
        cursor: pointer;
    }

.drive-name {
    font-size: 40px;
}

.drive-place {
    cursor: pointer;
    width: 65%;
}

    .drive-place:hover {
        background-color: lightgrey;
    }

.main-content {
    padding: 40px;
    background-color: #cccccc;
    min-height: 800px;
    float: right;
    width: 85%;
}

footer {
    clear: both;
    content: "";
    width: 100%;
    min-height: 100px;
}

tr:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.delete-btn:hover {
    color: white;
}

.edit-btn:hover {
    color: white;
}

select {
    height: 36px;
    width: 133px;
    border-radius: 17px;
}

button {
    border-radius: 10px;
}
