@{
    ViewBag.Title = "AdminIndex";
}
@section Scripts {
    @Scripts.Render("~/bundles/admin")
}

<h2>AdminIndex</h2>
<div ng-app="adminApp" ng-controller="admin-controller">
    <div class="table-users">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users track by $index">
                    <td>{{user.name}}</td>
                    <td>{{user.role}}</td>
                    <td class="edit-btn">|EDIT|</td>
                </tr>
            </tbody>
        </table>

    </div>

    @*<div class="edit-place">
        <h1>{{editUser.name}}</h1>
        <form name="selectForm">
            <select name="singleSelect" ng-model="editUser.role" ng-repeat="role in roles">
                <option value=role>{{role}}</option>
            </select>
        </form>
    </div>*@

</div>