@{
    ViewBag.Title = "Home Page";
}

@section Angular {
    @Scripts.Render("~/bundles/angular")
}
<div ng-app="main" ng-controller="systemController">
    <div id="left-sidebar">
        <div class="drive" ng-repeat="drive in drives track by $index">
            <p class="drive-place" ng-click="getSubItems(drive)">
                <img src="../Images/hard-drive.png" alt={{drive}} />
                <span class="drive-name">{{driveNamesFilter(drive)}}</span>
            </p>
        </div>
    </div>

    <div class="main-content">
        <div id="navbar-row">
            <span><a class="nav-elem" href="/">Home</a></span>
            <span class="nav-elem" ng-repeat="fullPath in arrFullPath track by $index" ng-click="getSubItems(fullPath,$index)">> {{elementNamesFilter(fullPath)}} </span>
        </div>
        @if (User.IsInRole("admin"))
        {
            <form name="createForm">
                <label>
                    <input type="radio" ng-model="createType" value="file">
                    File
                </label>
                <label>
                    <input type="radio" ng-model="createType" value="folder">
                    Folder
                </label>
                <input type="text" ng-model="name" />
                <button ng-click="createItem(name)">NEW</button>
            </form>
            <hr />
        }

        <table>
            <tbody>
                <tr ng-repeat="folder in Folders track by $index">
                    <td ng-click="getSubItems(folder)"><img src="../Images/computer-folder.png" alt={{folder}} /></td>
                    <td ng-click="getSubItems(folder)">{{elementNamesFilter(folder)}}</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td class="delete-btn" ng-click="deleteFolder(folder, $index)">|DELETE|</td>
                    }
                </tr>
                <tr ng-repeat="file in Files track by $index">
                    <td><img src="../Images/text-file.png" alt={{file}} /></td>
                    <td>{{elementNamesFilter(file)}}</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td class="delete-btn" ng-click="deleteFile(file, $index)">|DELETE|</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <footer></footer>
</div>
